.card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 1rem;
  padding: 1.25rem;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.3s ease, border 0.3s ease,
    background 0.3s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  border: 1px solid rgba(0, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3), 0 0 30px rgba(0, 255, 255, 0.1);
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.card:hover .icon {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.2);
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--card-title);
}
.name {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text);
}

p {
  margin: 0;
  font-size: 0.875rem;
  color: #ccc;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.95rem;
}

.sparkline {
  margin-top: 2.25rem;
  align-self: flex-start;
  overflow: hidden;
  height: 100px;
}
/* .sparkline {
  width: 100%;
  height: 80px;
  overflow: hidden;
} */

.remove {
  background: transparent;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.remove:hover {
  color: #f44;
}
.link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.positive {
  color: #0f0;
}

.negative {
  color: #f44;
}

.label {
  font-size: 0.75rem;
  color: #aaa;
  margin-left: 4px;
}

.chartArea {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chartLabel {
  font-size: 0.75rem;
  color: #888;
  text-align: center;
  margin-top: 0.25rem;
}
